{% extends 'base.html' %}

{% block titulo %}Viajes{% endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h2>Tu calendario de viajes <img src="https://img.icons8.com/doodle/48/000000/calendar--v2.png"/></h2>      
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Inicio del viaje</th>
                        <th scope="col">Fin del viaje</th>
                        <th scope="col">Plan</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trip in my_trips %}
                    <tr class="table-primary">
                        <td><a href='/view/{{trip.id}}'>{{trip.destination}}</a></td>
                        <td>{{trip.travel_date_from}}</td>
                        <td>{{trip.travel_date_to}}</td>
                        <td>{{trip.description}}</td>
                        <td><a href="/cancel">Cancel</a></td>
                        <td><a href="/delete">Delete</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col mb-3">
        <h2>Planes de viajes de otros usuarios <img src="https://img.icons8.com/doodle/48/000000/group.png"/></h2>
        <table class="table">
            <thead>
                <tr class="table-secondary">
                    <th scope="col">Nombre</th>
                    <th scope="col">Inicio del viaje</th>
                    <th scope="col">Fin del viaje</th>
                    <th scope="col">¿Quieres unirte?</th>
                </tr>
            </thead>
            <tbody>
                {% for trip in trips %}
                <tr>
                    <td>{{trip.destination}}</td>
                    <td>{{trip.travel_date_from</td>
                    <td>{{trip.travel_date_to}}</td>
                    <td><a href="/travels/join/{{trip.id}}">Únete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}


