{% extends 'base.html' %}

{% block titulo %}Ver viaje{% endblock %}



{% block contenido %}
<style>
    body {
        background-image: url("https://i.pinimg.com/originals/69/83/28/698328f0e4cc3a255afa848c0812ecc1.jpg");
        background-size: cover;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>{{trip.destination}}</h1>
            <h2>Planeado por: {{trip.creator}}</h2>
            <h2>Descripción: {{trip.description}}</h2>
            <h4>Inicio del viaje: {{trip.travel_date_from}}</h4>
            <h4>Fin del viaje: {{trip.travel_date_to}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4">
            
            <h2>Otros usuarios que se unieron a este viaje:</h2>
            {% for user in trip.travellers.all %}
            <h4>{{user.username}}</h4>
            {% endfor %}

        </div>
    </div>



</div>








{% endblock %}